<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-2 col-sm-12">
      <app-anchor href="/">Main</app-anchor>
    </div>
    <div class="col col-md-2 col-sm-12">
      <app-anchor href="/posts">Posts</app-anchor>
    </div>
    <div class="col col-md-2 col-sm-12">
      <app-anchor href="/comments">Comments</app-anchor>
    </div>
    <div class="col col-md-2 col-sm-12">
      <app-anchor href="/news">News</app-anchor>
    </div>
  </div>
</div>

<div>
  <i class="fas fa-exclamation-triangle"></i>
</div>
