<router-outlet></router-outlet>
<div *ngIf="comments">
  <div *ngFor="let comment of comments" class="card">
    <div class="card-body">
      <div
        class="card-title text-danger bg-dark text-center">
        <span class="col-6">{{comment.name}}</span>
      </div>
      <div class="card-text text-center">
        <div class="col-4">{{comment.email}}</div>
      </div>
      <app-anchor [href]="'comments/'+comment.id+'/product-card'">
        <div>
          <button class="btn btn-primary">Details</button>
        </div>
      </app-anchor>
    </div>
  </div>
</div>

